body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
  }
  
  header{
    position: fixed;
    background: #22242A;
    padding: 10px;
    width: 100%;
    height: 70px;
    z-index: 100;
  }
  
  .left_area h3{
    color: #fff;
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  .left_area span{
    color: #19B3D3;
  }
  
  .logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -31px; 

    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    background: #0B87A6;
  }
  
  .sidebar {
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
  }
  
  .sidebar .profile_image{
    display: inline-block; 
    height: 100px;
    width: 100px;
     /* margin-bottom: 50px;  */
    z-index: 1;
    /* position: relative;  */
   background-color: #1369ce;
    font-weight: bold;
    font-size: 2em;
    /* width: 100%; */
    /* height: auto; */
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    text-align: center;
    line-height: 90px;
  color:white
  }
  
  .sidebar h5{
    color: #ccc;
    margin-top: 20px;
    
    transition-property: left;
  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
     padding-left: 50px; 
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    /* left: 300px; */
    font-size: 20px;
    margin: 18px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -190px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
  }
  
  .content{
    margin-left: 80px;
    padding-top: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check{
    display: none;
  }
  .right_area h6{
     margin-left: 1038px;
  color: azure;
  margin-top: -31px;


  }
  
  .profile-card {
    background: #FFB300;
    width: 56px;
    height: 56px;
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    margin-top: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
  
  .profile-card header {
    width: 179px;
    height: 280px;
    padding: 40px 20px 30px 20px;
    display: inline-block;
    border-right: 2px dashed #EEEEEE;
    background: #FFFFFF;
    color: #000000;
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
  }
  
  .profile-card header h1 {
    color: #FF5722;
  }
  
  .profile-card header a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 25px 30px;
  }
  
  .profile-card header a:after {
    position: absolute;
    content: "";
    bottom: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    border: 4px solid #FFFFFF;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
    animation: scaleIn 0.3s 3.5s ease forwards;
  }
  
  .profile-card header a > img {
    width: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  }
  
  .profile-card header a:hover > img {
    -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  }
  
  .profile-card .profile-bio {
    width: 175px;
    height: 180px;
    display: inline-block;
    padding: 50px 20px 30px 20px;
    background: #FFFFFF;
    color: #333333;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
  }
  
  .profile-social-links {
    width: 218px;
    display: inline-block;
    margin: 0px;
    padding: 15px 20px;
    background: #FFFFFF;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
  }
  
  .profile-social-links li {
    list-style: none;
    margin: -5px 0px 0px 0px;
    padding: 0px;
    float: left;
    width: 25%;
    text-align: center;
  }
  
  .profile-social-links li a {
    display: inline-block;
    color: red;
    width: 24px;
    height: 24px;
    padding: 6px;
    position: relative;
    overflow: hidden!important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  
  .profile-social-links li a i {
    position: relative;
    z-index: 1;
  }
  
  .profile-social-links li a img,
  .profile-social-links li a svg {
    width: 24px;
  }
  
  @-webkit-keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @-webkit-keyframes borderRadius {
    0% {
      -webkit-border-radius: 50%;
    }
    100% {
      -webkit-border-radius: 0px;
    }
  }
  
  @keyframes borderRadius {
    0% {
      -webkit-border-radius: 50%;
    }
    100% {
      border-radius: 0px;
    }
  }
  
  @-webkit-keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 100%;
    }
  }
  
  @-webkit-keyframes moveUp {
    0% {
      background: #FFB300;
      top: 100%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 50%;
      background: #E0E0E0;
    }
  }
  
  @keyframes moveUp {
    0% {
      background: #FFB300;
      top: 100%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 50%;
      background: #E0E0E0;
    }
  }
  
  @-webkit-keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: 440px;
      height: 280px;
      background: #FFFFFF;
      -webkit-border-radius: 4px;
    }
  }
  
  @keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 440px;
      height: 280px;
      background: #FFFFFF;
      border-radius: 4px;
    }
  }
  
  @-webkit-keyframes moveIn {
    0% {
      margin-top: 50px;
      opacity: 0;
    }
    100% {
      opacity: 1;
      margin-top: -20px;
    }
  }
  
  @keyframes moveIn {
    0% {
      margin-top: 50px;
      opacity: 0;
    }
    100% {
      opacity: 1;
      margin-top: -20px;
    }
  }
  
  @-webkit-keyframes scaleIn {
    0% {
      -webkit-transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes ripple {
    0% {
      transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
      -webkit-transform: scale3d(1, 1, 1);
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes ripple {
    0% {
      transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
      transform: scale3d(1, 1, 1);
    }
    100% {
      opacity: 0;
    }
  }
  
  @media screen and (min-aspect-ratio: 4/3) {
    body {
      background-size: cover;
    }
    body:before {
      width: 0px;
    }
       @-webkit-keyframes puff {
          0% {
        top: 100%;
        width: 0px;
        padding-bottom: 0px;
      }
      100% {
        top: 50%;
        width: 100%;
        padding-bottom: 100%;
      }
    }
    @keyframes puff {
      0% {
        top: 100%;
        width: 0px;
        padding-bottom: 0px;
      }
      100% {
        top: 50%;
        width: 100%;
        padding-bottom: 100%;
      }
    }
  }
  
  @media screen and (min-height: 480px) {
    .profile-card header {
      width: auto;
      height: auto;
      padding: 30px 20px;
      display: block;
      float: none;
      border-right: none;
    }
    .profile-card .profile-bio {
      width: auto;
      height: auto;
      padding: 15px 20px 30px 20px;
      display: block;
      float: none;
    }
    .profile-social-links {
      width: 100%;
      display: block;
      float: none;
    }
    @-webkit-keyframes materia {
      0% {
        background: #E0E0E0;
      }
      50% {
        -webkit-border-radius: 4px;
      }
      100% {
        width: 280px;
        height: 440px;
        background: #FFFFFF;
        -webkit-border-radius: 4px;
      }
    }
    @keyframes materia {
      0% {
        background: #E0E0E0;
      }
      50% {
        border-radius: 4px;
      }
      100% {
        width: 280px;
        height: 440px;
        background: #FFFFFF;
        border-radius: 4px;
      }
    }

  }
  
 
  .search-container {
   
    margin-left: 400px;
  }
  .Loading{
    margin:100px auto;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    
  }
  
  @import '~antd/dist/antd.css';


.container-input{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.input{
  width: 90%;
  margin: 10px;
}


.container{
  display: flex;
  align-items: center;
  width: 500px;
}
.editprofbtn{
  margin-left: 300px;
  background-color: #0062cc;
  
}

.containerr{
  display: flex;
  align-items: center;
}
.container-cards{
  display: grid;
  grid-gap: 12em;
  grid-template-columns: repeat(auto-fill, minmax(5em, 23fr));
  margin-top: 60px;
margin-left: 35px;
}
.container-card{
  margin: 10px;
width: 200px;

}
.container-btn{
  display: flex;
  justify-content: space-between;
margin-top: 300px;
}
.container-btn button{
  width: 100%;
  margin: 2px;
}






.addbtn {
  width: 260px;
  height: 80px;
  background: #3498DB;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: .3s linear;
  font-size: 20px;
  margin-top: -560px;
  margin-left: 650px;
}











.container-input-edit{
  width: 400px;
  margin-left: 300px;
 
}

body {
  color:#2f2f2f;
	background-color: red;
	font-family: sans-serif;
}

#wrapper {
  height:400px;
  width: 400px;
	/* display: flex;
  justify-content:center;
  flex-wrap:wrap; */
  margin-top: 100px;
  margin-left: 200px;
}

.card {
	flex-basis: 50%;
	margin-right: 50px;
	height: 350px;
	max-width: 400px;
	background-color: white;
  box-shadow: 0px 0px 30px -7px #525d6b;
  display:flex; 
  flex-direction:column;
}
/* @media only screen and (max-width:856px){
  #wrapper{
    flex-direction:column;
  }
} */
.card .work-rate{
  display:flex;
  justify-content:space-between;
}
.card-1 .work-rate p {
  color:#eee;
  background-color:#A569BD;
  padding:5px 10px;
  border-radius:10px; 
  cursor: pointer;
  margin-top: 5px;
  margin-left: 5px;
  
}

.editpr{
  color:#eee;
  background-color:#A569BD;
  padding:5px 10px;
  border-radius:20px; 
  cursor: pointer;
  width: 60px;
  text-align: center;
  margin-left: 150px;
}

.card .pos-nd-loc{
  align-self:center;
}
.pos-nd-loc p:first-child{
  text-align:center;
  font-size:30px;
  font-weight:bold;
}
.pos-nd-loc p:last-child{
  color:#3498DB;
  text-align:center;
  text-decoration:underline;
}
.tags{
  text-align:center;
}
.tags button{
  background-color:white;
  border:0.5px solid #3498DB;
  padding:5px 10px;
  border-radius:20px;
  margin-right: 20px;
}
.tags button:last-child{
  color:white;
  background-color:#3498DB;
}
.card .job-desc{
 
  line-height:1.3;
  text-align: center;
  padding-top: 13px;
}
.card .job-toggle{
  margin:auto;
  padding: 10px 20px;
  text-align:center;
  width:100px;
  align-self:center;
  
}
.card .job-toggle:hover{
  color:white;
  background-color:#3498DB;
  transition:0.5s;
  transition-timing-function:ease-in-out;
  cursor:pointer;
  
}

.jobscontainer{
  display: grid;
  grid-gap: 10em;
  grid-template-columns: repeat(auto-fill, minmax(10em, 23fr));
}





.emp-profile{

  border-radius: 0.5rem;
  background: #fff;
position: relative;
height: 500px;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 18px;
  color: #818182;
  font-weight: 500;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}




@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 195px;
  }
}





  input {
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #0062cc;
    caret-color: #3498DB;
    transition: all 0.2s ease-out;
    color: #ababab;}

    input:focus {
      outline: none;
      border-bottom: 2px solid #0062cc;
      animation: 0.2s linear 1 expand;
    }
  

  .inputbutton {
    background-color: #1369ce;
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 100px;
    color: #fff;}

    .inputbutton:hover {
      background-color: #3498DB;
      color: #fff;
    }
  

